# [versionsync: OCAMLFORMAT_VERSION=0.29.0]
version=0.29.0
# [versionsync: OCAML_VERSION=5.5] [versionsync.slice: ..-2]
ocaml-version = 5.5
break-infix=wrap-or-vertical
doc-comments=before
infix-precedence=parens
wrap-comments=true
