_build
_opam
vscode
bfa
bfa_c
.ocamlformat-ignore
.github
.vscode
bin
extension
lib
node_modules
ppx
test
.gitignore
.ocamlformat
*.opam
*.opam.template
*.vsix
*.log
*.sh
package.zip
dune-project
Makefile
yarn.lock
packaging
package
secrets.env