pin-depends: [
  ["vscode.~dev" "git+https://github.com/giltho/vscode-ocaml-platform#6e83e72c7ea71fbecbabaaf36056d20bbbdcfff4"]
  ["vscode-node.~dev" "git+https://github.com/giltho/vscode-ocaml-platform#6e83e72c7ea71fbecbabaaf36056d20bbbdcfff4"]
  ["vscode-interop.~dev" "git+https://github.com/giltho/vscode-ocaml-platform#6e83e72c7ea71fbecbabaaf36056d20bbbdcfff4"]
]