pin-depends: [
  ["name_matcher_parser.~dev" "git+https://github.com/soteria-tools/charon#3928ea9e91a1c7babd84acd9bdf4b4b164614d0e"]
  ["charon.~dev" "git+https://github.com/soteria-tools/charon#3928ea9e91a1c7babd84acd9bdf4b4b164614d0e"]
]
