pin-depends: [
  ["simple_smt.~dev" "git+https://github.com/NatKarmios/simple-smt-ocaml#9db7ef0bb61a76010de255af3cbe4066dd8dd622"]
  ["name_matcher_parser.~dev" "git+https://github.com/AeneasVerif/charon#caf194f2f5513a811871a8ee2eedf5b21d09c1ba"]
  ["charon.~dev" "git+https://github.com/AeneasVerif/charon#caf194f2f5513a811871a8ee2eedf5b21d09c1ba"]
]
