pin-depends: [
  ["name_matcher_parser.~dev" "git+https://github.com/AeneasVerif/charon#21a216722fe9a510d551fa7c1226fa6366fe156f"]
  ["charon.~dev" "git+https://github.com/AeneasVerif/charon#21a216722fe9a510d551fa7c1226fa6366fe156f"]
]
